body {
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: #ffbb99;
  }
  
  .form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .form-item {
    margin-right: 1.8rem;
  }
  
  label.primary {
    display: block;
    margin: 0.4em 0;
  }
  
  label::after {
    content: ":";
  }
  
  button, input[type="submit"] {
    margin-top: 1rem;
  }

  button, input[type="delete-all-button"] {
    margin-top: 1rem;
  }
  
  #pizza-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .pizza-list-item {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #f88213;
    border-radius: 5%;
    background: #fd9d42;
  }

  .form-options-top {
      display: flex;
      justify-content: center;
  }

  .form-options-mid {
      display: flex;
      align-items: center;
      justify-content: center;
      
  }

  .radio-option {
    padding-left: 20px;
  }

  header {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-image: url(images/pizza-header.jpg);
    background-size: auto 200px;
  }

  header > h1 {
    padding-top: 20px;
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
  }

  .button {
    background-color:#44c767;
    -webkit-border-radius:28px;
    -moz-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    cursor:pointer;
    color:black;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }