body {
    font-family: Palatino;
    text-align: center;
  }
  
  .form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .form-item {
    margin-right: 1.8rem;
  }
  
  label.primary {
    display: block;
    margin: 0.4em 0;
  }
  
  label::after {
    content: ":";
  }
  
  button, input[type="submit"] {
    margin-top: 1rem;
  }

  button, input[type="delete-all-button"] {
    margin-top: 1rem;
  }
  
  #pizza-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .pizza-list-item {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #20437c;
    border-radius: 5%;
    background: #ddeaff;
  }

  .form-options-top {
      display: flex;
      justify-content: center;
  }

  .form-options-mid {
      display: flex;
      align-items: center;
      justify-content: center;
      
  }

  .radio-option {
    padding-left: 20px;
  }

  header {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-image: url(images/pizza-header.jpg);
    background-size: auto 200px;
  }